* {
    align-items: left;
    justify-content: relative;
    padding: 20;
    box-sizing:content-box
}

.grandparent {
    width: 200px;
    height: 200px;
    background-color: brown;
}

.parent {
    width: 130px;
    height: 130px;
    background-color: aqua;
}

.child {
    width: 60px;
    height: 60px;
    background-color: chartreuse;
}
